<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Filter App</title>
</head>
<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/solar/bootstrap.min.css" integrity="sha512-GYJNBq9+gZIxS9jON3rkargwb8WHkmnJg9OVij3oKOxwq5Q/mq3jW7tOsNtu4Pw2eDJjV4IJy5u3rGcQHfSF2g==" crossorigin="anonymous" />
<script src="https://unpkg.com/jquery"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>

<link rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
    <a class="navbar-brand text-dark" href="/"><img src="/static/favicon.ico" alt="Ankh" width="40" height="40"><span>Ankh</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if not g.user %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-userID="{{g.user.id}}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{g.user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/my_filters">My Filters</a>
            <a class="dropdown-item" href="/my_pictures">My Pictures</a>
            <a class="dropdown-item" href="/my_profile">My Profile</a>
            <a class="dropdown-item" href="/image/upload">Upload</a>
          </div>
        </li>
        <li class="nav-item active"><a class="nav-link" href="/logout">Log out</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>


{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="container">
  <div class="alert alert-{{ category }}">{{ message }}</div>
</div>
{% endfor %}


{% block content %}
{% endblock %}

</body>
{% block script %}{% endblock %}
</body>
<footer>
  <div class="text-sm my-5 mx-4">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
</html>