{% extends 'base.html' %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="/static/edit.js"></script>
{% endblock %}

{% block content %}
<img crossorigin="anonymous" id="image" src="{{image['url']}}" alt="" hidden>
<div class="container">
    <div class="row">

        <div id="sliders" class="col-5 mb-3">
            <div class="container">
                {% for slider in sliders %}
                <label for="{{slider.name}}" class="input-group-text text-sm text-light bg-primary">{{slider.name.capitalize()}}</label>
                <div class="input-group  m-2">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary btn-sm fas fa-caret-left" type="button" data-direction="left"></button>
                    </div>
                    <input class="slider form-control" type="range" name="{{slider.name}}" id="{{slider.name}}" min="{{slider.range_min}}" max="{{slider.range_max}}" value="{{slider.value}}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondarybtn-sm fas fa-caret-right" type="button" data-direction="right"></button>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col">
            <canvas id="canvas" width="400" height="{{image['height']*(400/image['width'])}}"></canvas>
        </div>

        <div class="col side-buttons">
            <button class="btn btn-sm bg-secondary m-2 text-light" id="restore">Restore</button>
            <button class="btn btn-sm bg-secondary m-2 text-light" id="save-filter">Save Filter</button>
            <button class="btn btn-sm bg-secondary m-2 text-light" id="save-pic-filter">Save Picture <br> With Filter</button>
            <select name="" id="">User Filters</select>
        </div>
    </div>
    <div id="buttons" class="row">
        {% for button in buttons %}
        <button class="btn btn-secondary m-2" id="{{button.short_name}}" data-id="{{button.id}}">{{button.full_name}}</button>
        {% endfor %}
    </div>
</div>
{% endblock %}