{% extends 'base.html' %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="{{ url_for('static', filename='edit.js') }}"></script>
{% if filter_id %}
<script src="{{ url_for('static', filename='onLoad.js') }}"></script>
{% endif %}
{% endblock %}

{% block content %}

<img crossorigin="anonymous" id="image" src="{{image['url']}}" alt="" hidden>

<div class="container mx-3 p-0">
    <div class="row">

        <div id="sliders" class="col-4 mb-3">
                {% for slider in sliders %}
                <label for="{{slider.name}}" class="input-group-text text-sm text-light bg-primary">{{slider.name.capitalize()}}</label>
                <div class="input-group  m-2">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary btn-sm fas fa-caret-left" type="button" data-direction="left"></button>
                    </div>
                    <input class="slider form-control" type="range" name="{{slider.name}}" id="{{slider.name}}" min="{{slider.range_min}}" max="{{slider.range_max}}" value="{{slider.value}}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-sm fas fa-caret-right" type="button" data-direction="right"></button>
                    </div>
                    </div>
                {% endfor %}
        </div>

        <div class="col">
            <canvas id="canvas" width="{{image['width']}}" height="{{image['height']}}" data-unsplash="{{image['unsplash']}}"></canvas>
        </div>

        <div class="col-2 side-buttons justify-contents-center">
            <button class="btn btn-sm bg-primary m-2 text-light" id="restore">Restore</button>
            <button class="btn btn-sm bg-primary m-2 text-light" id="save-filter">Save Filter</button>

            {% if filter_id %}

            <form action="" data-id="{{filter_id}}" id="edit-filter-form" class="hide">
                <button class="btn btn-sm btn-secondary">Save</button>
            </form>

            {% else %}

            <form action="" id="filter-name-form" class="hide">
                <input type="text" name="filter-name" id="filter-name" size="15"  placeholder="filter name"></input>
                <button class="btn btn-sm btn-secondary">Save</button>
            </form>

            <button class="btn btn-sm btn-primary m-2 text-light" id="save-pic-filter">Save Picture <br> With Filter</button>
            <form action="" id="picture-name-form" class="hide">
                <input type="text" name="picture-name" id="picture-name" size="15"  placeholder="Picture name"></input>
                <button class="btn btn-sm btn-secondary">Save</button>
            </form>

            {% endif %}

            <select name="user-filters" id="user-filters">
                <option value="">--Your Filters--</option>
                {% for filter in user_filters %}
                <option value="{{filter.id}}">{{filter.full_name}}</option>
                {% endfor %}
            </select>
            <div class="hide btn-info my-2" id="info-div"><span class="btn-info m-2" id="info-span"></span></div>
        </div>
    </div>

    <div id="buttons" class="row">
        {% for button in buttons %}
        <button class="btn btn-secondary m-2" id="{{button.short_name}}" data-id="{{button.id}}">{{button.full_name}}</button>
        {% endfor %}
    </div>
</div>
{% endblock %}