{% extends 'list.html' %}

{% block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
<script src="/static/listFilts.js"></script>
{% endblock %}

{% block _loop_ %}
{% if filters %}
<h1 class="text-center">{{g.user.username}}'s Filters</h1>
<div class="container row">
    {% for filter in filters %}
    <div class="col">
        <h3 class="ml-3">{{filter.full_name}}</h3>
        <div class="filter" data-id="{{filter.id}}">
            <img class="image" src="/static/Ankh-Mirror-TutanchamunTomb.jpg" 
                    data-caman="saturation({{filter.saturation}}) 
                    vibrance({{filter.vibrance}}) contrast({{filter.contrast}}) 
                    exposure({{filter.exposure}}) hue({{filter.hue}}) 
                    sepia({{filter.sepia}}) 
                    {% for preset in filter.preset_filters %}
                    {{preset.full_name}}() 
                    {% endfor %}
                    " alt="{{filter.full_name}}">
            <div class="remove"><a class="text-light fas fa-trash-alt" href="#"></a></div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <div class="container"> There seems to be nothing here. Better get to creating</div>
{% endif %}
{% endblock %}